.add-service form
{
 display:flex ;
 flex-direction: column;
 margin-top: 6%;
 bottom: 50px;
 justify-content: center;
 align-items: center;
}
.add-service form input,textarea{
    width: 40%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.button  {
    width: 20px;

}